header{
    width: 98%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    top: 0;
    background-color:#FFF8F5;
    z-index: 2;
}
.cart{
    padding-top: 100px;
}

.title_other_recom{
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 1.8px;
    font-weight: 600;
    margin-top: 50px;
}
.other_cardlist{
    display: flex;
    gap:50px;
    justify-content: center;
    margin-bottom: 150px;
}
.card{
    box-shadow:4px 2px 10px 0px #eee;
    width: 275px;
    height: 184px;
    border-radius: 15px 15px 0 0;
}
.pic{
    width: 100%;
    height: 100%;
}
.pic img, .pic img,.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.txt{
    text-align: start;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    padding: 15px;
    font-weight: 400;
    background-color:#fff ;
}
.price{
    text-align: end;
    letter-spacing: 0;
    margin-left: 20px;

}
.noschedule{
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Sans TC';
}
.cart_group{
    width: 80%;
    margin: 0 auto ;

}
.title_cart{
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 15px;
    padding: 30px 0px 30px 70px;
    position: relative;
    letter-spacing: 1.8px;
    font-weight: 600;
}
.title_cart::after{
    content: '';
    position: absolute;
    height: 1.5px;
    width: 90%;
    background-color: #999;
    bottom: 0;
    right: 50px;
}
.ui-datepicker .ui-widget-content {
    background: lightblue none;
}

.ui-datepicker 
{
    background: lightblue;
}

input[type=checkbox]{
    margin: 0;
    width: 20px;
    height: 20px;
    background-color:#87BDC7;
    border: 1px solid #87BDC7;
    color: #87BDC7;
    user-select: none; /* 防止文字被滑鼠選取反白 */
    vertical-align: baseline;
}

input[type=checkbox]:checked{
    margin: 0;
    width: 20px;
    height: 20px;
    background-color:#87BDC7;
    color: #87BDC7;
    vertical-align: baseline;
}
.checkbox{
    vertical-align: baseline;
}
.basic_info, .items{
    display: flex;
    gap:30px;   
    align-items: center;
}
.items{
    flex-wrap: wrap;
}
.items_pic{
    width: 275px;
    height: 190px;
}

.basic_info p{
    background-color: #DBEDEB;
    border-radius: 15px 0;
    padding: 15px;
    font-size: 15px;
}
.items_pic img{
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.inner{
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    padding: 15px;
    font-weight: 400;
    display: flex;
    gap:30px;   
    align-items: center;
    /* justify-content: space-around; */
}


.date label,.counts label{
    display: block;
}
input[type = "date"],input[type = "number"]{
    background-color: #eee;
    border: 3px #666;
    border-radius: 15px;
    padding: 5px 10px 5px 5px;
    text-align: end;
    color: #666;
    font-weight: 600;

}
input[type = "number"]{
    width: 120px;
}
::-webkit-datetime-edit-fields-wrapper{
    /* display: none; */
    color: #003E60;
}
.sum{
    text-align: end;
    font-family: "Noto Sans TC";
    padding-bottom: 10px;
    /* padding-left: 250px; */
}
.cart_group{
    background-color: #fff;
    margin-bottom: 150px;
    border-radius: 25px 0;
}

.carts_info{
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    /* padding: 15px; */
    font-weight: 400;
}
.carts_info ::after{
    content: '';
    background-color: #999;
    width: 90%;
    height: 1.5px;
    position: absolute;
    bottom: 125px;
    right: 50px;
}
.selected{
    padding : 50px;
}
.selected a{
    text-decoration: none;
    color: #000;
}
.total{
    padding : 50px 150px 50px 0;
}
.check{
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    background-color: #003E60;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
}
.return{
    text-decoration: none;
    text-align: center;
    color:#000
}
.carts_footer{
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 30px 30px;
    align-items: center;
}


@media screen and (max-width:1200px){
    .container{
        width: 90%;  
        margin: 0 auto;
    }
    .cart_group{
        width: 95%;
        margin: 0 auto 150px;
    }
}
@media screen and (max-width:767px){
    .inner{
        display: flex;
        flex-direction: column;
    }
    .other_cardlist{
        /* justify-content: center; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        height: 100%;
    }
    header{
        width: 95%;
    }
}

@media screen and (max-width:412px){
    .container{
        width:100%;
    }
    .title_cart::after{
        right: 22px;
    }
    .items_pic{
        width: 230px;
        height: 145px;
    }
    .sum{
        padding: 15px;
    }
    .selected{
        padding: 0;
    }
    .basic_info, .items{
        gap: 8px
    }
    .carts_info ::after{
        right: 22px;
    }
    .total{
        padding-right: 15px;
    }
}


