body{
    background-color: #FFF;
    background-image: url(img/bcg2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
}
.headeritem a{
    color: #000;
}
nav .cart_icon a{
    color: #000;
}
.allsche a{
    color: #FFF;
}
.header_container{
    margin-bottom: 4%;
}
.title_login{
    font-size: 40px;
    color:#FFF;
    margin-bottom: 60px;
}
.container{
    text-align: center;
    max-width: 1200px;
}
.login_txt{
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.login_txt_accout, .login_txt_psw{
    color:#FFF;
    display: block;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    font-weight: 300;
    color:#fff ;
}

.login_txt_accout label,.login_txt_psw label{
    display: block;
    margin-bottom: 3px;
    text-align: left;
}
input[type = "text"]{
    /* margin-left: 20px; */
    margin-bottom: 30px;
    width: 80%;
    background-color: #eee;
    border: 3px #666;
    border-radius: 15px;
    padding: 5px;
}
.login_txt p{
    align-self: flex-end;
}
.login_txt p a{
    text-decoration: none;
    color:#000;
}
.btn_login{
    border-radius: 25px;
    padding: 6px 60px;
    background-color: #003E60;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-family:"Noto Sans TC";
    font-weight: 300;
    color:#fff ;
}
.register{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family:"Noto Sans TC";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    color:#fff ;
    margin: 80px auto 80px;
    width: 60%;
    border-top: 1.5px solid;
    padding-top: 20px;


}
/* .register::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 1.5px;
    background-color: #fff;
    top: -22px;
    left: 400px;
} */





@media screen and (max-width:1200px){
    .body{
        background-size: cover;
        background-position: 50% 80%;
    }
    .register::before{
        width:100% ;
    }
}


@media screen and (max-width: 767px) {
    .title_login{
        font-size: 32px;
        margin-bottom: 40px;
    }
    .login_txt{
        width: 80%;
        margin-bottom: 20px;
    }
    .login_txt_accout, .login_txt_psw{
        font-size: 14px;
    }
    input[type = "text"]{
        margin-bottom: 15px;
    }
    .register{
        width: 80%;
    }
    
}

@media screen and (max-width: 412px) {

    
}