.header_container{
    margin-bottom: 0;
}

.banner_box{
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
    width: 1200px;

}
.banner{
    max-width: 1200px;
    /* height:60vh; */
    height: 400px;
    background-image: url(img/banner.jpg) ;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_title{
    color:#000;
    font-size: 48px;
    background-color: #ECECEC99;
    padding: 20px 30px;
}
.wave{
    position: absolute;
    bottom:0px;
    width: 100%;
}
.container{
    max-width: 1200px;
    margin:0 auto 150px;
    text-align: center;
    box-sizing: border-box;
}
.card_pic{
    width: 25%;
}
.card_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    border-radius: 15px;
}
.card_list{
    display: flex;
    gap: 25px;
    justify-content: center;
    position: relative;
}
.about_place{
    margin-bottom: 120px;
}
/* 標題宋體 */
.Serif_TC{
    font-size: 24px;
    line-height: 1.2em;  
    padding-bottom: 10px;
    font-family:"Noto Serif TC";
    letter-spacing: 1.5px;
    font-weight: 600;
}
.about_place h2, .salecoupon h2{
    margin-bottom: 30px;
}
.info_content{
    position: absolute;
    bottom:-90px;
    background-color: #003E60E5;
    color: #fff;
    border-radius: 25px;
    width: 400px;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    padding: 15px;
    font-weight: 300;

}
.cp, .cp_btn{
    width: 340px;
    background-color: #fff;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    padding: 15px;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
}
.cp{
    border-top: 1.8px solid #FF9A66;
}
.cp::before{
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    z-index: 0;
    background-image: radial-gradient(20px at right bottom, transparent 50%,#fff 50%);
    box-shadow: 5px 0px 5px -5px #999;
    /* border-radius: 0 0px 0 0; */
}
.cp::after{
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    z-index: 0;
    background-image: radial-gradient(20px at left bottom, transparent 50%,#fff 50%);
    /* box-shadow: -5px 0px 5px -5px #999; */
    /* border-radius: 0 0px 0 0; */
}
.salecoupon{

    margin: 0 auto;
    margin-top: 150px;
}
.cp_btn{
    border-top:1.3px dashed #afafaf;
    border-bottom:1px solid #afafaf;
    box-shadow:0 2px 7px -5px #999;
}
/* 完成折價卷的樣式/漸層CSS */
.cp_btn::before{
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    z-index: 0;
    background-image: radial-gradient(20px at left top, transparent 50%,#fff 50%);
    /* box-shadow: -5px 0px 5px -5px #999; */
}
.cp_btn::after{
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    z-index: 0;
    background-image: radial-gradient(20px at right top, transparent 50%,#fff 50%);
    box-shadow: 5px 0px 5px -5px #999;
}
.cp_btn .btn a{
    text-decoration: none;
    background-color: #003E60;
    color:#fff;
}
.btn1{
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
}

.title_reason{
    margin-bottom: 30px;
}
.reasoncard{
    width: 160px;
    margin: 0 auto;

}
.reason_list_pic{
    width: 100%;
    margin-bottom: 10px;
}
.reason_list_txt,.reason_list_pic img{
    width: 100%;
}

.circlesvg{  
    clip-path: circle(50% at 48% 51%);    
}
.circlesvg1{  
    clip-path: circle(50% at 50% 50%);    
}
.reason_list{
    display: flex;
    justify-content:center;
    gap: 15px;
}
.reason_list_txt{
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    /* padding: 15px; */
    font-weight: 300;
}
.title_promote{
    margin-bottom: 30px;
}
/* .movement{
    box-shadow:4px 2px 10px 0px #eee;
    transform: perspective(300px) rotate(0deg);
    transition: 1s;
}
.movement:hover {
    transform: perspective(300px) rotateY(360deg);
} */
.movement_2:hover .flip-box-inner{
    transform: rotateY(180deg);
}

.flip-box-back{
    background-color: #003E60;
    /* opacity: 30%; */
    transform: rotateY(180deg);  
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movement_2{
    background-color: transparent;
    width: 275px;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    margin: 0 auto;
}
.flip-box-back .promote_txt{
    background-color: #003E60;
    /* opacity: 100%; */
    padding: 0;
    border-radius: 15px 15px 0 0;
} 
.flip-box-back .promote_txt ul{
    display: block;
    color: #fff;
} 
.flip-box-back .promote_txt ul li{
    padding: 2px 0;
}
.flip-box-back .promote_txt ul li i{
    padding: 0 3px 0 0;
}

.flip-box-inner {
    position: relative; 
    /* //設定為老爸(父元素)  前後卡片要用絕對元素 */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box-front, .flip-box-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;  
/* //詳解有解釋這個 隱藏背後內容的效果  CSS寫3D常見 */
}
.promote_pic{
    width: 275px;
    height: 184px;
}
.promote_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    vertical-align: top;
}
/* .course_category ul li +li::before{
    content: '/';
    display: inline-block;
    padding: 0px 4px;
} */
.promote_list{
    display: flex;
    gap: 15px;
    justify-content: space-around;
}
.promote_txt{
    text-align: start;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    padding: 15px;
    font-weight: 400;
    background-color: #fff;
}
.price{
    text-align: end;
    letter-spacing: 0;
}

@media screen and (max-width:1200px){
    .banner_box{
        width: 90%;
    };
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .promote_list{
        display: flex;
        flex-direction: column;
    }
}
/* @media screen and (max-width:992px){



}
@media screen and (max-width:768px){
  
} */
/*@media screen and (max-width:576px){
  
}*/
@media screen and (max-width:412px){
    .Serif_TC{
        font-size: 20px;
    }
    .banner{
        width: 100%;
        height: 60vh;
        margin-top: 15px;
    }
    .banner_box{
        width: 100%;
        margin-bottom:60px ;
    }
    .banner_title{
        font-size: clamp(24px,24px,32px);
        padding: 15px 35px;
    }
    .info_content{
        font-size: 12px;
        width: 65%;
        bottom:-80px
    }
    .card_list{
        gap:15px
    }
    .cp, .cp_btn{
        width: 75%;
    }
} 