.header_container{
    margin-bottom: 0;
}
.banner_box{
    margin: 0 auto;
    position: relative;
    width: 1200px;
    margin-bottom: 80px;
}
.banner{
    max-width: 1200px;
    /* height:60vh; */
    height: 400px;
    background-image: url(img/banner.png) ;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_title{
    color:#000;
    font-size: 32px;
    background-color: #ECECEC99;
    padding: 30px 50px;
    font-family:"Noto Serif TC";
    font-weight: 600;
    letter-spacing: 1.8px;
}
.wave{
    position: absolute;
    bottom:0px;
    width: 100%;

}
.container{
    max-width: 1200px;
    margin:0 auto 150px;
    /* text-align: center; */
}
.Serif_TC{
    font-size: 24px;
    line-height: 1.2em;  
    padding-bottom: 10px;
    font-family:"Noto Serif TC";
    letter-spacing: 1.5px;
    /* font-weight: 800; */
}
.title_detail{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 1.8px;
}
.product_info_pic{
    width: 66.666666%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow:4px 2px 8px 0px #eee;
}
.product_info_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    vertical-align: top;
}
.product_info{
    width: 35%;
}
.product_feature{
    display: flex;
    align-items: center;
}
.product_feature{
    padding: 10px 0;
    border-top:1px solid#B3AEAE;
    border-bottom:1px solid#B3AEAE;
    font-size: 16px;
    line-height:1.5em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    font-weight: 300;
    margin-bottom: 15px;
}
.icon{
    margin-right: 5px;
}
.feature{
    margin-right: 15px;
}
.product_txt_box{
    padding-left: 15px;
}
.li_style{
    font-size: 14px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    font-weight: 300;
    list-style:disc;
    list-style-position: inside;
}
.detail_txt li:first-child{
    list-style: none;
}

.signupnow a{
    background-color: #003E60;
    color: #fff;
    font-family: 'Noto Sans TC';
    letter-spacing: 2px;
    border-radius: 25px;
    padding: 8px 20px;
    text-align: center;
    text-decoration:none ;
}
.flex_box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.detail_info h3{
    /* color: #003E60; */
    font-size: 20px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    font-weight: 500;
}
.detail_info h3 span{
    /* color: #003E60; */
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    font-weight: 400;
}
.detail_info{
    padding: 25px 60px;
    border: 1.8px solid #003E60;
    position: relative;
    margin-left: 50px;
    color: #003E60;
    display: flex;
    flex-direction: column;
    position: relative;
}
.signupnow{
    position: absolute;
    left: 170px;
    bottom:30px;
}

.title_timetable{
    font-size: 24px;
    text-align: center;
    padding-right: 55%;
    font-weight: 600;
}
.timetable_group{
    max-width: 650px;
    padding: 0 10px;
    margin: auto;
    width: 70%;
    position: relative;
}
#day2,#day3{
    display: none;
}
.timetable_group h3{
    position: relative;
    margin-bottom: 4.5%;
    margin-top: 4.5%;
    padding-left: 3%;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 1.5px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    position: relative;
}
.timetable_group::before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 3px;
    height: 100%;
    left: -3px;
    top: 9px;
    background: #003e60;
}
.timetable_group h3::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -19px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #003e60;
    z-index: 2;
}
.spot_card_pic{
    width:50%;
    height: 250px;

}
.spot_card_pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.spot_card_list{
    /* height: 20.833333%; */
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    width: 80%;
}
.spot_card_txt{
    width: 50%;
    font-size: 14px;
    font-family:'Noto Sans TC' ;
    font-weight: 300;
    padding: 0 15px;
    line-height:2em;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.dark{
    background-color: #003E60;
    color: #fff;
}
.light{
    background-color: #FBF5EB;
    color: #000;
}
.reverse{
    flex-direction: row-reverse;
}
.container_days{
    display: flex;
    /* align-content: center; */
    align-items: flex-start;
}
.days{
    /* background-color: #B3AEAE; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top:50%;
    font-family:'Noto Sans TC';
    font-weight: 600;
}
.day a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.day{
    background-color: #85b8da;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1.8px dashed #003E60;

}
.title_other_recom{
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.8px;
}
.other_cardlist{
    display: flex;
    gap:50px;
    justify-content: center;
}
.yamin_pic,.kenting_pic,.taichung_pic{
    width: 275px;
    height: 184px;
}
.yamin_pic img, .kenting_pic img,.taichung_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.yamin_txt,.kenting_txt,.taichung_txt{
    text-align: start;
    font-size: 16px;
    line-height:1.8em;  
    letter-spacing: 1.5px;
    font-family:"Noto Sans TC";
    padding: 15px;
    font-weight: 400;
    background-color:#FEE ;
}
.price{
    text-align: end;
    letter-spacing: 0;
}
.card{
    box-shadow:4px 2px 8px 0px #eee;
}

@media screen and (max-width:1200px){
    .banner_box{
        width: 90%;
    };
    .container{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:767px){
    .flex_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
    .product_info{
        width: 50%;
        order: 1;
        margin: auto;
    }
    .feature{
        margin-right: 5px;
        font-size: 12px;
        line-height: normal;
        word-break: keep-all;
    }
    .detail_info{
        width: 50%;
        margin: auto;
        box-sizing: border-box;
        margin-bottom: 35px;
    }
    .other_cardlist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width:275px
    }
    .yamin_txt, .kenting_txt, .taichung_txt{
        width: 100%;
        box-sizing: border-box;
    }
}


@media screen and (max-width:412px){
    .container{
        margin-bottom: 80px;
    }
    .product_info_pic{
        width: 80%;
    }
    .Serif_TC{
        font-size: 20px;
    }
    .banner{
        width: 100%;
        height: 60vh;
        margin-top: 15px;
    }
    .banner_box{
        margin-bottom:80px;
        width: 100%;
    }
    .banner_title{
        font-size: clamp(24px,24px,32px);
        padding: 15px 35px;
    }
    .detail_info{
        width: 80%;
        margin: auto;
        box-sizing: border-box;
        margin-bottom: 35px;
        padding: 20px 40px;
    }
    .signupnow{
        position: absolute;
        left: 144px;
        bottom: 30px;
    }
    .signupnow a{
        padding: 9px 16px;
    }
    .title_detail{

        margin-bottom: 25px;
        letter-spacing: 1.4px;
    }
    .title_detail span{
        display: block;
        padding-top: 5px    ;
    }
    .product_info{
        width: 80%;
    }
    .li_style{
        list-style-position: outside;
    }
    .day{
        width: 40px;
        height: 40px;
        font-size: 13px;
        padding: 3px;
    }
    .spot_card_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .spot_card_pic{
        width: 100%;
        height: 150px;
    }
    .spot_card_txt{
        width: 100%;
        font-size: 13px;
        line-height: 1.8em;
        padding: 15px;
    }
}